<!DOCTYPE html>
{% load bootstrap4 %}
<html>
<head>
	<div class="page-header">
    <h2 align="center">MET Report</h2>
    <button><a align="center" href="{% url 'met' %}">Go back</a></button>
</div>
	<title>MET Report</title>
{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<style type="text/css">
        body {

          background-size: cover;
          background-image: url({% static "images/met2.jpg" %});
        }

</style>

<div class="splash"></div>

</head>

<body>
	<h1 align="center">Your MET is {{ met }} METs </h1>
	<h1 align="center">Following is recommendation for MET </h1>
	<h1 align="center">Total MET per week (general): 600-1200 </h1>
        <h1 align="center">Total MET per week (individual) : 2500</h1>
</body>
</html>
