<!DOCTYPE html>
{% load bootstrap4 %}
<html>
<head>
<div class="page-header">
    <h2 align="center">MET Calculator</h2>
</div>
	<title>MET Calculator</title>
{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<style type="text/css">
        body {
    	  background-size: cover;
          background-image: url({% static "images/met2.jpg" %});
        }

	table, td {
  border: 1px solid black;
}
</style>
<div class="splash"></div><br/><br/>
</head>

<body>
<script type="text/javascript" href="{% static 'js/table.js' %}"></script>
<form align="center" action = "" method = "post">
    {% csrf_token %}
<h1>Enter activites performed on Daily Basis</h1>
<br/>
<table id="myTable">
	<thead>
    <tr>
        <th>Activity</th>
        <th>Level</th>
        <th>Hours</th>
	<th>Minutes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
	<select name="activity" id="activity"><option type="number" value="7.5">cycling</option><option type="number" value="6">jogging</option><option type="number" value="8">running</option><option type="number" value="4">housing</option><option type="number" value="11">skipping</option><option type="number" value="5">walking</option><option type="number" value="3">pilates</option><option type="number" value="5">weights</option></select>
	</td>
        <td>
	<select name="level" id="level"><option int="number" value="0.01">light</option><option int="number" value="0.02">moderate</option><option int="number" value="0.03">heavy</option></select>
	</td>	
        <td><input type="number" name="hours" id="hours" min="1" required="required"/></td>
	<td><input type="number" name="minutes" id="minutes" min="1" required="required"/></td>
   </tr>
    </tbody>
  </tr>
</table>
<br/>
<button type="button" onclick="myFunction()">Add Activiy</button>
<button align="centre" type="submit">Calculate MET</button>
</form>
<br>
<script>
function myFunction() {
  var table = document.getElementById("myTable");
  var row = table.insertRow(-1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
	cell1.innerHTML = '<select name="activity" id="activity"><option type="number" value="7.5">cycling</option><option type="number" value="6">jogging</option><option type="number" value="8">running</option><option type="number" value="4">housing</option><option type="number" value="11">skipping</option><option type="number" value="5">walking</option><option type="number" value="3">pilates</option><option type="number" value="5">weights</option></select>';
  cell2.innerHTML = '<select name="level" id="level"><option int="number" value="0.01">light</option><option int="number" value="0.02">moderate</option><option int="number" value="0.03">heavy</option></select>';
  cell3.innerHTML = '<input type="number" name="hours" id="hours"  required="required" min="1"/>';
  cell4.innerHTML = '<input type="number" name="minutes" id="minutes" min="1" required="required"/>';
}
</script>
</body>
</html>
