<!DOCTYPE html>
{% load bootstrap4 %}
<html>
<head>
<div class="page-header">
    <h1 align="center">BMR Calculator</h1>
</div>
	<title>Base Metabolic Rate Calculator</title>
{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style type="text/css">
        body {
          background-image: url({% static "images/bmr2.jpg" %});
          background-size: cover;
        }

</style>

<div class="splash"></div>
</head>
<body>
	<form action="." align="centre"  method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<button align="centre" type="submit">Submit</button>
	</form>
</body>
</html>
