<!DOCTYPE html>
{% load bootstrap4 %}
<html>
<head>
	<title>Base Metabolic Rate Calculator</title>
{% load static %}
<style type="text/css">
        body {
          background-image: url({% static "images/bmr2.jpg" %});
          background-size: cover;
        }

        .heading {
            color: white;
            font-family: 'Sedgwick Ave Display', cursive;
            font-size: 10vw;
            letter-spacing: 20px;
            color: rgb(0, 255, 170);
            padding-top: 200px;
            font-family: 'Cabin Sketch', cursive;
        }
</style>

<div class="splash"></div>
</head>
<body>
	<h1 align="center">Enter the Following for BMR Calculator</h1>
	<form action="." align="center" method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		
		<button type="submit">Submit</button>
	</form>

</body>
</html>
