<!DOCTYPE html>
{% load bootstrap4 %}
<html>
<head>
<div class="page-header">
    <h2 align="center">MET Calculator</h2>
</div>
	<title>MET Calculator</title>
{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<style type="text/css">
        body {
  
    	  background-size: cover;
          background-image: url({% static "images/met2.jpg" %});
        }

</style>

<div class="splash"></div><br/><br/>
</head>

<body>
<br/>
<form action="." align="centre"  method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button align="centre" type="submit">Submit</button>
        </form>
</body>
</html>
